[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
colored = "==2.2.4"
prompt-toolkit = "==3.0.43"
wcwidth = "==0.2.13"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.8"
